* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 0rem 0rem 2rem 0rem;

}

header img {
    width: 8rem;
    margin: 1rem 0rem 0rem 5rem;
}

header nav {
    margin: 3rem 2rem;
}

header nav button {

    width: 150px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 8px;

}

#mainindex {
    display: flex;
    background-color: black;
}

main div{
    margin: 4rem 2rem 0rem 7rem;
    padding: 0rem 1rem 2rem 0rem;
    color: aliceblue;
}

main div a{
    text-decoration: none;
    font-size: large;
    color: yellow;
}

main img {
    width: 30rem;
    border-radius: 9px;
    box-shadow: 2px 2px 7px gray;
}


main div p {
    padding: 2rem 0rem 2rem 0rem;
    font-size: large;
}

footer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



footer div img {
    width: 2rem;

}
